# Eclipse project files & folders
/.project
/.pydevproject

# Output build
build*/
Makefile
man/*.gz
*.exe

# Distribution files
bin2header-*.tar.xz

.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log

bin/
bin-int/